* {
  box-sizing: border-box;
}
.body{
  margin: 0px;
  padding: 0px;
}
.modal_body{
  font-size: 2.5vh;
  padding: 0 50px 30px 50px; 
  color: #777777;
}
.header{
    margin-bottom: 18px;
}
.close{
  text-align: right;
  margin-right: 15px;
  margin-top: 12px;
}
.modal-lg {
    max-width: 60% ;
}
#imagestream{
  width: 100%;
  height: 100%;
  margin-bottom: 2vh;
  margin-top: -1vh;
}
.modal-content{
  border-radius: 15px;
  margin:0;
  padding: 0;
}
.header{
  height: 30px;
}
#title{
  color: #333333;
  font-size: 4vh;
  text-align: center;
  height: 12.5vh;
  background: #f7f7f9;
  display: block;
  border-radius:10px;
  width: 100%
}
#block {
  font-size: 3.5vh;
  height: 7.2vh;
  border-radius: 35px;
  margin-bottom: 5vh;
  margin-top: -4vh;
  background: #2376e5;
  border: none;
}
.flex-container{
  display: flex;
  flex-direction: row;
  font-size: 2.5vh;
  text-align: left;
  align-items: left;
  width: 100%;
  
}
.flex-left {
  flex: 50%;
  display: flex;
  flex-direction: column;
}
.flex-right {
  flex: 50%;
  text-align: left;
  align-items: left;
  display: flex;
  flex-direction: column;
}
.flex-right-1{
  flex:10%;
}
.flex-right-2{
  flex:10%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.flex-right-3{
  flex:10%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.flex-right-4{
  flex:10%;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
.flex-right-5{
  flex:60%;
}
.flex-right-1 ul{
  list-style: none;
  text-align: left;
}
.flex-right-2-1,.flex-right-3-1,.flex-right-4-1{
  flex:40%;
  color: #4e4e4e;
}
.flex-right-2-2,.flex-right-3-2,.flex-right-4-2{
  flex:60%;
}
.color-p{
  color: #607d8b;
}
.check{
  display: block;
  width: 100%;
  margin: 0;
  background: #e0e0e0;
  border-radius: 5.5vw;
  text-align: left;
  align-items: left;
  height: 5.5vw;
  margin-bottom: 1.5vh;
  font-size: 3vh;
  color: #1bbf94;
}
.check img{
  height: 5.5vw;
  width: 5.5vw;
  margin-right: 20px;
}
.flex-left-3 p{
  margin-top: 15px;
  margin-bottom: 10px;
}
.flex-left-4{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.iconmic{
  flex:10%;
}
.voice{
  flex:90%;
}
.voice{
  position: relative;
  color: #1c9dd6;
}
#voice-meter{
  position: absolute;
  background: #f5f5f7;
  width: 100%;
}
#voice-level{
  position: absolute;
  background:#1c9dd6;
  width: 15%;
}
@media  (max-width: 767px)  {
  .flex-container {
    flex-direction: column;
  }

}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .modal_body{
    font-size: 2.5vh;
    padding: 0 30px 15px 30px; 
  }
	.modal-lg {
	    max-width: 80% ;
	}

}
@media only screen and (max-width:  576px)	{
  .modal_body{
    font-size: 2.5vh;
    padding: 0 30px 15px 30px; 
  }
  #title{
    height: 10vh;
  }
  #block {
    height: 6vh;
    margin-top: -3.5vh;
  }
  .check{
    border-radius: 5.5vh;
    height: 5.5vh;
    margin-bottom: 1.5vh;

  }
  .check img{
    height: 5.5vh;
    width: 5.5vh;
    margin-right: 20px;
  }
	.modal-lg {
	  max-width: 100% ;
	}
}
/*@media only screen and (min-width:  991px) and (max-width: 1140px)  {
  .modal-lg {
      max-width: 70% ;
  }
}*/