body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: url('../img/backgound.jpg');
  font-size: 2.5vh;
}
*{
  box-sizing: border-box;
}

/* header */
.header{
  color: white;
  padding: 10px 0 0 15px;
}
.header img{
  border-right: 1px solid white;
  margin-right: 5px;
  padding:  0 5px 0 0;
  margin-top: -6px;
}
.header p{
  display: inline-block;
}

/*form login*/
.form-login{
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}
.form-login .box{
  margin-top: -11vh;
  background:white;
  min-width: 480px;
  min-height: 540px;
  padding: 54px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.form-login .box .heading h3{
  color: #333333;
  font-size: 3.5vh;
  text-align: center;
  margin: 0 0 5vh ;
}
.form-login .box .form-fields{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.form-login .box .form-fields .input-box{
  color: #607d8b;
  margin-bottom: 3vh;
  position: relative;
}
.form-login .box .form-fields .input-box .form-control{
  height: 8vh;
  padding: 15px 40px; 
  border-radius: 10px;
}
::placeholder {
  color: red;
}
.form-login .box .form-fields .input-box span{
  position: absolute;
  left: 0px;
  top: 2vh;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
#iconuser{
  width: 2vh;
}
#iconpass{
  width: 2vh;

}
.check-box{
  margin-left: 20px;
  text-align: left;
}
.check-box .form-check-input{
  height: 2.7vh;
  width: 2.7vh;
}
.check-box label{
  color: #333333;
  margin-left: 1.3vh;
  margin-top: 0.2vh;
}
.block{
  margin-top:7vh;
  display: block;
  width: 100%;
  height: 8vh;
  text-align: center;
  border: none;
  background-color: #e0e0e0;
  color: gray;
  cursor: pointer;
  text-align: center;
  border-radius: 35px;
  margin-bottom: 15px;
}
#link{
  display:block;
  text-align:center;
  text-decoration: underline #4672cf;
  color: #4672cf;
}

@media only screen and (min-width: 361px) and (max-width: 576px){
  .header img{
    width: 40%;
    margin-top: 1px;
  }
  .form-login .box{
    min-width: 280px;
    max-width: 330px;
    min-height: 400px;
    padding: 20px ;
  }
  .form-login .box .heading h3{
    margin: 0 0 30px ;
  }
}

@media only screen and (max-width: 360px){
	body{
		font-size: 2vh;
	}
  	.header img{
   		width: 40%;
    	margin-top: 1px;
  	}
  	.form-login .box{
	    min-width: 280px;
	    max-width: 330px;
	    min-height: 300px;
	    max-height: 400px;
	    padding: 20px ;
  	}
  	.form-login .box .heading h3{
   		margin: 0 0 30px ;
  	}
 	 .form-login .box .form-fields .input-box .form-control{
    	height: 6vh;
 	}
    .block{
    	height: 6vh;
 	}
}