
#header{
	background: #ffffff;
	padding: 1.5vh;
  height: 8vh;
  box-shadow: 3px 5px #efeff1;
  font-size: 2.5vh;
}
#header_logo{
  border-right: 1px solid black;
  margin-right: 5px;
  padding:  0 5px 0 0;
  margin-top: -6px;
}
.bg{
  background: #37474f;
  position: relative;

}
#iconcamera{
  position: absolute;
  left: 1vw;
  top:3vw;
  width: 50px;
}
#content{
  align-items: center;
	margin-top: 0.4vh;
	background:#f5f5f7;
	height: 90vh;
}
.center{
  margin-top: 22vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
img .avatar {
  
  width: 100px;
  height: auto;
}
.block {
  margin-top: 2.6vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 36vw;
  height: 13vh;
  border: none;
  background-color:green; 
  color: white;
  padding: auto;
  font-size: 2.3vh;
  cursor: pointer;
  text-align: center;
  border-radius: 12vw;
  margin-bottom: 15px;
}
#iconphone{
  margin-right: 30px;
  height: 4vh;
  width: auto;
}
.attention{
  display: block;
  margin-left: auto; 
  margin-right: auto;
}
.attention span img{
  width: 3vh;
  height: 3vh;
}
.attention span p{
  display: inline-block;
  color: red;
  font-size: 2vh;
}

@media only screen and (min-width: 361px) and (max-width: 576px){
   img.avatar {
    width: 80px;
  }
  .block{
    width: 260px;
    height: 60px;
  }
  #iconphone{
    margin-right: 10px;
    width: 30px;
    height: auto;
  }
    .attention span img{
    width: 13px;
    height: 13px;
  }
  .block {
      width: 60vw;
      height: 10vh;
    }
}

@media only screen and (max-width: 360px){
    img.avatar {
      width: 60px;
    }
    .block{
      width: 200px;
      height: 40px;
    }
    #iconphone{
      margin-right: 10px;
    }
    .attention span img{
      width: 14px;
      height: 14px;
    }
    .block {
      width: 80vw;
      height: 10vh;
    }
}
@media only screen and  (min-height: 577px) and (max-width: 768px){
  .block {
    width: 60vw;
    height: 10vh;
  }
}
@media only screen and  (min-height: 789px) and (max-width: 1140px){
  .avatar {
      width: 100px;
    }
  .block {
    width: 60vw;
    height: 10vh;
  }
}